@{
    ViewData["title"] = "Pagina de login";
}

<div class="background-image2 d-flex">
    <div class="card-2 form-control-sm mx-5">
        <form>
            <div>
                <h1 class="text-center">Login</h1>
            </div>
            <div class="form-group text-center text-black mx-2">
                <label for="Login"><h6>Login</h6></label>
                <input type="text" class="custom-form-control mx-2" placeholder="Entre com o seu login">
            </div>
            <br />
            <div class="form-group text-center text-black mx-2">
                <label for="Senha"><h6>Senha</h6></label>
                <input type="password" class="custom-form-control mx-2" placeholder="Entre com sua senha">
            </div>
            <div class="form-group">
                <br />
                <a role="button" class="btn btn-link">Esqueci minha senha</a>
            </div>
            <br />
            <br />
            <div class="mx-2">
                <button type="button" class="btn btn-warning mx-2">Login</button>
            </div>
        </form>
    </div>

    <div class="vertical-line"></div>

    <div class="flex-grow-1">
        <!-- Conteúdo adicional à direita -->
    </div>
</div>
</div>
